name: build-hostable-game

on:
  push:
    branches:
    - main
    
jobs: 
  build-html-and-push-to-prod:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: 3.11.1

      - run: pip install pyxel 
      
      - run: pyxel package . escape.py
      - run: pyxel app2html EscapeGen.pyxapp
      - run: git config --global user.name "Nephilus-notes"
      - run: git config --global user.email "cmhmcc@gmail.com"

      - run: git add EscapeGen.html       
      - run: git mv -f EscapeGen.html index.html

      - run: git commit -m "updating html"
      - run: git push -u origin main
    
